**/build/**
*.deb
**/.venv/
**/workspace/
**/venv/
.gitmodules
# ingonre all virtualenvs
**/venv/
# ignore tem model .h5 files
**/*.h5
# ignore all .pyc files
**/*.pyc
# ignore all docker files
**/Dockerfile
# ignore all .env files